@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1faee;
  --foreground: #001027;
  --primary: #1d3557;
  --secondary: #457b9d;
  --tertiary: #a8dadc;
  --accent: #e63946;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #001027;
    --foreground: #f1faee;
    --primary: #1d3557;
    --secondary: #457b9d;
    --tertiary: #a8dadc;
    --accent: #f1faee;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Montserrat', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
